.error-message {
    color: red;
    font-size: 12px;
  }

.transparent-arrow {
    color: black; /* Hace que el icono sea transparente */
    font-size: 26px;    /* Ajusta el tamaño del icono según tus preferencias */
  }
